.shapeAteliers{
    padding: 0;
    margin: 0;
}
.AteliersList {
    background-color: #F2F2F2;
    height: auto;
    margin: 0 auto;
    padding: 15vh 0 0 0  ;
    text-align: center;
}

.AteliersDetail {
    height: auto;
    background-color: #F2F2F2;
    text-align: center;
    margin: 0 auto;
    padding: 0 ;
}

.formulaireAteliers {
    background-color: #F2F2F2;
    height: auto;
    padding-top: 10vh;
}