.BoutonContact {
    display: flex;
    position: fixed;
    right: 5%;
    bottom: 10%;
    border: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    outline:0;
    color: black;
    text-shadow: 3px 3px 3px white;
    background: url('/images/heron4.jpg');
    opacity: 1;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
@media (max-width: 750px) {
    .BoutonContact {
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
}