.rootModal {
  width: 300px;
  padding: 0;
};

.modalIntervenants {
  /* position: fixed;
  z-index: 500;
  background-color: #B2C4CB;
  width: 50%;
  height: auto;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 3%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: justify; */
};

.bigAvatar {
  width: 200;
  height: auto;
};
