.formulaireAteliers {
    margin: 15 0 0 0 ;
    padding: 20;
    width: 50vw;
}

.contenu {
    height: 100vh;
}
;
.details {
    margin-top: 5vh;
}
.details img {
    margin-top: 5vh;
    width: 100%;
}